<!DOCTYPE html>
<html lang="en" ng-app="restaurantApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Menulicious</title>

    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="RestaurantCtrl">

<div class="container">

{{restaurants.length}}
    <div ng-if="restaurantsMatch.length == 0">
        <h1>What do you fancy?</h1>

        <form class="form-inline">
            <div class="form-group">
                <label for="inputType">Name</label>
                <select class="form-control" id="inputType" ng-model="restaurantType">
                    <option ng-repeat="category in categories" value="{{category[0]}}" ng-bind="category[1]"></option>
                </select></div>
            <button type="submit" ng-submit="chooseRestaurantType()" class="btn bnt-default">Go</button>
        </form>
    </div>

    <div ng-if="restaurantsMatch.length > 0">
        <h1>Here's what we found...</h1>
        <div ng-repeat="restaurant in restaurantsMatch">
            {{restaurant[1]}}
        </div>
    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="webjars/angularjs/1.4.7/angular.js"></script>
<script src="js/controllers.js"></script>
<script src="js/restaurant_cont.js"></script>
</body>
</html>
