<!DOCTYPE html>
<html lang="en" ng-app="menuApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Menulicious - Restaurants</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="CSS/main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="Favicon_01-01.png" />

    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="MenuCtrl">

<div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/index.html">Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/index.html">Add a dish</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/index.html">Statistics</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Add a dish to your menu</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputName">Dish Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="menuItem.name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="multipleSelect3">Course</label>
                <select name="select" id="multipleSelect3"  class="form-control" ng-model="data.multipleSelect3">
                    <option style="display:none" value="">Please choose..</option>
                    <option value="Starter">Starter</option>
                    <option value="Main">Main</option>
                    <option value="Dessert">Dessert</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="menuItem.description"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputPrice">Price</label>
                £<input type="text" class="form-control" id="inputPrice" placeholder="" ng-model="menuItem.price">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Dietary requirements</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="checkbox" ng-model="menuItem.gf" /> Gluten free
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="checkbox" ng-model="menuItem.veg" /> Vegetarian
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="checkbox" ng-model="menuItem.vegan" /> Vegan
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="multipleSelect">Spice</label>
                <select name="select" id="multipleSelect" class="form-control" ng-model="data.multipleSelect">
                    <option style="display:none" value="">Please choose..</option>
                    <option value="0">No spice</option>
                    <option value="1">1 - mild</option>
                    <option value="2">2 - medium</option>
                    <option value="3">3 - hot</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Allergies</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4" ng-repeat="allergy in allergies">
                    <input type="checkbox" /><span class="allergy-name">{{allergy.NAME}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default red3 red_padding">Add</button>
        </div>
    </div>

    <div ng-if="menu_items.length > 0">
        <br/>
        <h1>Your Menu</h1>

        <div class="row grey3">
            <div class="span9 aligncenter">
                <span class="menu_title">Starters</span>
            </div>
        </div>

        <div class="row" ng-repeat="item in menu_items"
             ng-class="$even ? 'grey1' : 'grey2'"
             ng-if="item.course == 'Starter'">
            <div class="span9 menu_items">

                <h2><span ng-bind="item.name" /></h2>

                <div class="padding_top_small"><span ng-bind="item.description" /></div>

                <div class="padding_top_small">
                    <span ng-if="item.gluten_free == true">GF</span>
                    <span ng-if="item.vegan == true">Vegan</span>
                    <span ng-if="item.veg == true">Vegetarian</span>
                    <span ng-if="item.spice > 0">
                        <span ng-if="item.spice == 1">Mild</span>
                        <span ng-if="item.spice == 2">Medium spice</span>
                        <span ng-if="item.spice == 3">Hot</span>
                    </span>
                </div>

                <div class="allergies padding_top_small"><span ng-repeat="allergy in item.allergies">{{allergy.NAME}}<span ng-if="$index < item.allergies.length-1">, </span></span></div>

                <div class="price padding_top_small">£<span ng-bind="item.price" /></div>

                <button class="btn btn-default red-small" data-toggle="tooltip" title="This will be shared anonymously with the restaurant only."><span class="glyphicon glyphicon-thumbs-down" ></span> Dislike</button>
                <button class="btn btn-default red-small" ng-click="alert()"><span class="glyphicon glyphicon-heart-empty"></span> 56 Loved it </button>
                <button class="btn btn-default red-small" ng-click="alert()"><span class="glyphicon glyphicon-heart-empty"></span> 24 Liked it</button>

            </div>
        </div>

        <div class="row grey3">
            <div class="span9 aligncenter">
                <span class="menu_title">Mains</span>
            </div>
        </div>

        <div class="row" ng-repeat="item in menu_items"
             ng-class="$even ? 'grey1' : 'grey2'"
             ng-if="item.course == 'Main'">
            <div class="span9 menu_items">

                <h2><span ng-bind="item.name" /></h2>

                <div class="padding_top_small"><span ng-bind="item.description" /></div>

                <div class="padding_top_small">
                    <span ng-if="item.gluten_free == true">GF</span>
                    <span ng-if="item.vegan == true">Vegan</span>
                    <span ng-if="item.veg == true">Vegetarian</span>
                    <span ng-if="item.spice > 0">
                        <span ng-if="item.spice == 1">Mild</span>
                        <span ng-if="item.spice == 2">Medium spice</span>
                        <span ng-if="item.spice == 3">Hot</span>
                    </span>
                </div>

                <div class="allergies padding_top_small"><span ng-repeat="allergy in item.allergies">{{allergy.NAME}}<span ng-if="$index < item.allergies.length-1">, </span></span></div>

                <div class="price padding_top_small">£<span ng-bind="item.price" /></div>

                <button class="btn btn-default red-small" data-toggle="tooltip" title="This will be shared anonymously with the restaurant only."><span class="glyphicon glyphicon-thumbs-down" ></span> Dislike</button>
                <button class="btn btn-default red-small" ng-click="alert()"><span class="glyphicon glyphicon-heart-empty"></span> 56 Loved it </button>
                <button class="btn btn-default red-small" ng-click="alert()"><span class="glyphicon glyphicon-heart-empty"></span> 24 Liked it</button>

            </div>
        </div>

        <div class="row grey3">
            <div class="span9 aligncenter">
                <span class="menu_title">Deserts</span>
            </div>
        </div>

        <div class="row" ng-repeat="item in menu_items"
             ng-class="$even ? 'grey1' : 'grey2'"
             ng-if="item.course == 'Dessert'">
            <div class="span9 menu_items">

                <h2><span ng-bind="item.name" /></h2>

                <div class="padding_top_small"><span ng-bind="item.description" /></div>

                <div class="padding_top_small">
                    <span ng-if="item.gluten_free == true">GF</span>
                    <span ng-if="item.vegan == true">Vegan</span>
                    <span ng-if="item.veg == true">Vegetarian</span>
                    <span ng-if="item.spice > 0">
                        <span ng-if="item.spice == 1">Mild</span>
                        <span ng-if="item.spice == 2">Medium spice</span>
                        <span ng-if="item.spice == 3">Hot</span>
                    </span>
                </div>

                <div class="allergies padding_top_small"><span ng-repeat="allergy in item.allergies">{{allergy.NAME}}<span ng-if="$index < item.allergies.length-1">, </span></span></div>

                <div class="price padding_top_small">£<span ng-bind="item.price" /></div>

                <button class="btn btn-default red-small" data-toggle="tooltip" title="This will be shared anonymously with the restaurant only."><span class="glyphicon glyphicon-thumbs-down" ></span> Dislike</button>
                <button class="btn btn-default red-small" ng-click="alert()"><span class="glyphicon glyphicon-heart-empty"></span> 56 Loved it </button>
                <button class="btn btn-default red-small" ng-click="alert()"><span class="glyphicon glyphicon-heart-empty"></span> 24 Liked it</button>
            </div>
        </div>

    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="webjars/angularjs/1.4.7/angular.js"></script>
<script src="js/menu_cont.js"></script>

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
