<!DOCTYPE html>
<html lang="en" ng-app="menuApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Menulicious - Restaurants</title>

    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="MenuCtrl">

<div class="container">
    <h1>Menulicious - Add a dish to your menu</h1>

    <form class="form-inline" ng-submit="new()">
        <div class="form-group">
            <label for="inputName">Dish Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="menuItem.name">
        </div>
        <div class="form-group">
            <label for="multipleSelect3">Course</label>
            <select name="select" id="multipleSelect3" ng-model="data.multipleSelect3">
                <option style="display:none" value="">Please choose..</option>
                <option value="Starter">Starter</option>
                <option value="Main">Main</option>
                <option value="Dessert">Dessert</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="menuItem.description"></textarea>
        </div>
        <div class="form-group">
            <label for="inputPrice">Price</label>
            £<input type="text" class="form-control" id="inputPrice" placeholder="" ng-model="menuItem.price">
        </div>
        <div class="form-group">
            <label>Gluten free?
                <input type="checkbox" ng-model="menuItem.gf" />
            </label>
        </div>
        <div class="form-group">
            <label>Vegetarian?
                <input type="checkbox" ng-model="menuItem.veg" />
            </label>
        </div>
        <div class="form-group">
            <label>Vegan?
                <input type="checkbox" ng-model="menuItem.vegan" />
            </label>
        </div>

        <div class="form-group">
            <label for="multipleSelect">Spice</label>
            <select name="select" id="multipleSelect" ng-model="data.multipleSelect">
                <option style="display:none" value="">Please choose..</option>
                <option value="0">No spice</option>
                <option value="1">1 - mild</option>
                <option value="2">2 - medium</option>
                <option value="3">3 - hot</option>
            </select>
        </div>
        <div class="form-group">
            <label>Allergies</label>
            Celery
            <label>Celery:
                <input type="checkbox" ng-model="Celery" /><br/>
            </label>
            <label>Cereals containing gluten:
                <input type="checkbox" ng-model="Cereals" /><br/>
            </label>
            <label>Wheat:
                <input type="checkbox" ng-model="Wheat" /><br/>
            </label>
            <label>Crustaceans:
                <input type="checkbox" ng-model="Crustaceans" /><br/>
            </label>
            <label>Eggs:
                <input type="checkbox" ng-model="Eggs" /><br/>
            </label>
            <label>Fish:
                <input type="checkbox" ng-model="Fish" /><br/>
            </label>
            <label>Lupin:
                <input type="checkbox" ng-model="Lupin" /><br/>
            </label>
            <label>Milk:
                <input type="checkbox" ng-model="Milk" /><br/>
            </label>
            <label>Molluscs:
                <input type="checkbox" ng-model="Molluscs" /><br/>
            </label>
            <label>Mustard:
                <input type="checkbox" ng-model="Mustard" /><br/>
            </label>
            <label>Nuts:
                <input type="checkbox" ng-model="Nuts" /><br/>
            </label>
            <label>Peanuts:
                <input type="checkbox" ng-model="Peanuts" /><br/>
            </label>
            <label>Sesame seeds:
                <input type="checkbox" ng-model="Sesame" /><br/>
            </label>
            <label>Soya:
                <input type="checkbox" ng-model="Soya" /><br/>
            </label>
        </div>
        <button type="submit" ng-click="addItem()" class="btn bnt-default">Add</button>
    </form>

    <div ng-if="menu_items.length > 0">
        <h1>Menu</h1>
        <div ng-repeat="item in menu_items">
            <h2><span ng-bind="item.name" /></h2>
            <div><span ng-bind="item.description" /></div>
            <div>
                <span ng-if="item.gluten_free == true">GF</span>
                <span ng-if="item.vegan == true">Vegan</span>
                <span ng-if="item.veg == true">Vegetarian</span>
                <span ng-if="item.spice > 0">
                    <span ng-if="item.spice == 1">Mild</span>
                    <span ng-if="item.spice == 2">Medium spice</span>
                    <span ng-if="item.spice == 3">Hot</span>
                </span>
            </div>
            <div>£<span ng-bind="item.price" /></div>
            <div>Allergies: <span ng-repeat="allergy in item.allergies">{{allergy.NAME}}<span ng-if="$index < item.allergies.length-1">, </span></span></div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="webjars/angularjs/1.4.7/angular.js"></script>
<script src="js/menu_cont.js"></script>
</body>
</html>
