.container
{
	width: 100%;
}

.dropdown
{
	width: 40%;
	margin: auto;
	text-align: center;
}

.dropdown-menu
{
	text-align: center;
}

#dropdownMenu1
{
	width: 100%;
}

body
{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}





.home
{
	margin: auto;
	text-align: center;
}


.restDesc
{
	font-size: 12pt;
}

.restAddress
{
	font-size: 10pt;
}

.grey1 {
    background-color: #E8E8E8;
}

.grey2 {
    background-color: #F2F2F2;
}

.restLogo {
    padding:10px;
    width:250px;
}

.red {
    color: #fff !important;
    font-size: 150% !important;
    background-color: #892319 !important;
    border-color: #892319 !important;
    margin-top:100px;
    width: 200px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.red2 {
    color: #fff !important;
    font-size: 150% !important;
    background-color: #962D2D !important;
    border-color: #962D2D !important;
    margin-top:100px;
    width: 200px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.red_padding {
    margin-right: 20px !important;
}

.full {
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.right {
    text-align: right;
}

.rest {
    padding: 20px;
}

.btn {
    radius: 0px !important;
    border-radius: 0px !important;
}

.menu_title {
    font-size: 250%;
    font-weight:700;
    text-align:center;
}

