.container
{
	text-align: center;
	/*width: 100%;
	padding: 0px;*/
}

.dropdown
{
	width: 40%;
	margin: auto;
	text-align: center;
}

.dropdown-menu
{
	text-align: center;
}

#dropdownMenu1
{
	width: 100%;
}

body 
{
  padding-top: 0px !important;
  padding-bottom: 40px;
  background-color: #fff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.img-responsive
{
	width: 45%;
	margin: auto;
}

.navbar .navbar-default .navbar-static-top
{
	width: 100%;
}

.navbar-default
{
	background: #892319;
}

.navbar-right
{
	margin-right: 15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover
{
	background: #962D2D;
	color: #000;
}

.home
{
	margin: auto;
	text-align: center;
}

#restaurants
{
	width: 90%;
	margin: auto;
	background: #dddddd;
}

#restDesc
{
	font-size: 12pt;
}

#restAddress
{
	font-size: 10pt;
}

.container-fluid
{
	padding: 0px !important;
}

/*.select
{
	min-width: 60%;
	max-width: 60%;
	margin: auto;
}*/



.alignright
{
	text-align: right;
}