.container
{
	width: 100%;
	/*text-align: center;
	width: 100%;
	padding: 0px;*/
}

.allergies-div1 {
    padding-top: 20px;
    background-color: #F8F8F8;
}

.allergies-div2 {
    padding-bottom: 20px;
    background-color: #F8F8F8;
}

.allergy-name {
    margin-left:10px;
    font-size:120%;
}

.form-control {
    border-radius: 0px !important;
}

.front_qu {
    font-size:150%;
    margin-bottom:20px;
    text-align: center;
}

.dropdown
{
	width: 40%;
	margin: auto;
	text-align: center;
}

.dropdown-menu
{
	text-align: center;
}

#dropdownMenu1
{
	width: 100%;
}

body
{
  padding-top: 0px !important;
  padding-bottom: 40px;
  background-color: #fff;
}

.padding_top_small {

  padding-top: 3px !important;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px !important;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.img-responsive
{
	width: 65%;
	margin: auto;
}

.img-responsive-small
{
	width: 80%;
	float:left;
	margin: auto;
}

.breadcrumbs {
    text-align: right;
}

.navbar .navbar-default .navbar-static-top
{
	width: 100%;
}

.navbar-default
{
	background-color: #892319 !important;
	border-color: #892319 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #962D2D !important;
}

.navbar-right
{
	margin-right: 15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover
{
	background: #962D2D;
	color: #000;
}

.home
{
	margin: auto;
	text-align: center;
}


.restDesc
{
	font-size: 12pt;
}

.restAddress
{
	font-size: 10pt;
}

.grey1 {
    background-color: #E8E8E8;
}

.grey2 {
    background-color: #F2F2F2;
}

.grey3 {
    background-color: #C6C6C6;
}

.restLogo {
    padding:10px;
    width:250px;
    text-align: left !important;
}

.red {
    color: #fff !important;
    font-size: 150% !important;
    background-color: #892319 !important;
    border-color: #892319 !important;
    margin-top:100px;
    width: 200px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

. red-gly {
color: #892319 !important;
}

.redFront {
    color: #fff !important;
    font-size: 120% !important;
    background-color: #892319 !important;
    border-color: #892319 !important;
    float: right;
}


select.form-control {
  line-height: 28px;
}

.red2 {
    color: #fff !important;
    font-size: 150% !important;
    background-color: #892319 !important;
    border-color: #892319 !important;
    width: 200px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.red3 {
    color: #fff !important;
    font-size: 150% !important;
    background-color: #892319 !important;
    border-color: #892319 !important;
    width: 200px;
    margin-top:45px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.red-small {
    color: #fff !important;
    font-size: 100% !important;
    background-color: #962D2D !important;
    border-color: #962D2D !important;
    width: 150px;
    padding: 1px 2px !important;
    margin-right: 3px !important;
    margin-bottom: 5px !important;
    float:right !important;
}

.price {
    font-size: 150% !important;
}

.red_padding {
    margin-right: 20px !important;
}

.full {
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.right {
    text-align: right;
}

.rest {
    padding: 20px;
}

.btn {
    radius: 0px !important;
    border-radius: 0px !important;
}

.menu_title {
    font-size: 250%;
    font-weight:500;
    text-align:center;
}

.container-fluid
{
	padding: 0px !important;
}

.allergies {
    font-style: italic;
    color: #666666;
}

/*.select
{
	min-width: 60%;
	max-width: 60%;
	margin: auto;
}*/

.fancy {
    font-size: 150%;

}

.map {
    height: 250px !important;
    width: 100%;
    background-image: url("/images/map.png");
}

.alignright
{
	text-align: right;
}

.aligncenter {

    text-align: center !important;
}

.menu_items {

    padding: 20px;
    text-align: center !important;
}

.large-book {
padding-top: 20px;
    font-size: 24px;
padding-bottom: 20px;
}